<h1>Question Everything</h1>

<form id="submit_question" action='/questions' method='post'>
  <label><strong>Title: </strong></label>
  <br>
  <input type="text" name="title">
  <br>
  <br>
  <label><strong>Hot Bod:</strong></label>
  <br>
  <textarea name="body" rows="4" cols="50"></textarea>
  <br>
  <input type="submit" value="Submit to me!">
</form>
