<!-- this is the login page -->
<%= flash[:error] %>

<h2> Log In! </h2>

<form action='/sessions' method='post'>
  <label for='email'>Email:</label>
  <input name='email' type='text'><br>
  <label for='password'>Password:</label>
  <input name='password' type='password'><br>
  <input type='submit'>
</form>
