/* All elements and/or (more likely) Design Tools */
*{
  /*border: dotted lightcoral 2px;*/
}

/* Yeild Area on Layout, Where individual Pages are displayed.*/
main {
  /*border: solid black 1px;*/
  background-color: lightgray;
  width: 75%;
  margin: 0 auto;
}

/* Layout Title*/
h1{
  text-align: center;
}

/* Individual Page Title */
h2{
  text-align: center;
}

/* nav bar links */
nav ul li {
  list-style: none;
  display: inline;
}

/*Nav Bar*/
nav {
  text-align: center;
}

article#question span.datetime {
  float:right;
}

article#question span.author-name {
  float:left;
}

div.comments {
  width: 50%;
  margin-left: 50%
}

article.answers {
  width:75%;
  margin-left: 25%;
}