<form class="a_comment_form" action="<%= action %>" method="POST">
  <input type="hidden" name="answer_id" value="<%= answer_id %>">
  <input type="text" name="comment" placeholder="<%= placeholder %>">
  <input id="a_comment_button" type="submit" value="<%= value %>">
</form>

