<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <% if current_user %>
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Logout">
    </form>
  <%else %>
    <a href='/sessions/new'><button>Login</button></a>
    <a href='/users/new'><button>Register</button></a>
  <% end %>

  <H1>Vanilla DBC Overflow</H1>
  <nav>
    <ul>
      <li>Links go here</li>
      <li>Links go here</li>
      <li>Links go here</li>
      <li>Links go here</li>
      <li>Links go here</li>
    </ul>
  </nav>
  <main>
    <%= yield %>
  </main>

</body>
</html>
